		
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.div1{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(indexpic.jpeg);
    background-position: center;
    background-size: cover;
    position:absolute;
    animation: transitionAn 0.75s;
}
@keyframes transitionAn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
.div2{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(rc1.jpeg);
    background-position: center;
    background-size: cover;
    position:absolute;
    animation: transitionAn 0.75s;
}
.form-box{
    width: 300px;
    height: 340px;
    position: relative;
    font-size: 15px;
    top: 195px;
    margin: auto;
    background: rgba(248, 248, 248, 0.829);
    padding: 5px;
    overflow: auto;
}
.button-box{
    width: 150px;
    margin: 15px auto;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px 9px #caada11f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 7px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
::placeholder{
    color: rgb(20, 19, 19);
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 75px;
    height: 100%;
    background: linear-gradient(to right, rgb(235, 240, 209),#f7f7cf);
    border-radius: 30px;
    transition: .7s;
} 
.avatar-icons{
    margin: 0px auto;
    text-align: center;
}
.avatar-icons img{
    padding: 5px;
    width: 100px;
}
.input-group{
    top: 110px;
    position: absolute;
    width: 200px;
    transition: .7s;
    padding: 10px;
    padding-bottom: 50px;
}
.input-field{
    width: 95%;
    height: 40%;
    padding: 10px 0;
    margin: 2px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(20, 20, 20);
    outline: none;
    background: transparent;
    padding-bottom: 7px;
}
.submit-btn{
    width: 85%;
    padding: 10px;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right, rgb(235, 240, 209),#f7f7cf);
    border: 0;
    outline: none;
    margin: auto;
    border-radius: 30px;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
h1{
    color: white;
    font-family:cursive;
}
.welcome_container{
    height: 150px;
    position: relative;
    width: 250px;
    border: 1px solid none;
    margin: auto;
    top: 95px;
    text-align: center;
    color:rgb(247, 245, 242);
    font-size: 32px;
    letter-spacing: 2px;
    text-shadow: 10px 10px #ebe6e665;
}
.tagline_cont{
    margin: auto;
    position: relative;
    top: 110px;
    text-align: center;
    color: white;
    width: 400px;
    border: 1px solid white;
    letter-spacing: 1px;
}
.login_container{
    border-left: 1px solid white;
    font-size: 15px;
    position: absolute;
    color: white;
    left: 90%;
    top: 30%;
    margin-top: -100px;
    margin-left: -160px;
}
.register_container{
    border-left: 1px solid white;
    font-size: 15px;
    position: absolute;
    color: white;
    right: 90%;
    top: 30%;
    margin-top: -100px;
    margin-right: -140px;
}
.name_container {
    top: 50px;
    height: 215px;
    width: 300px;
    position: relative;
    border: 1px solid none;
    text-align:center;
    background: rgb(168, 110, 110);
    color: white;
    font-weight: bolder;
    padding: 40px;
    letter-spacing: 7px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}
.button1{
    cursor: pointer;
    font-size: 15px;
    height: 30px;
    width: 70px;
    border: 10px;
    border-radius: 20px;
    color: rgb(41, 30, 30);
    background-color: #fdfdd4;
    outline: none;
}
.startbutton_container{
    height: 50px;
    position: relative;
    border: 3px solid none; 
    top: 2px;
    padding: 5px;
}
.startbutton_center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.button1:hover{
    filter:brightness(110%);
}
.button1:active{
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(225, 225, 255, 0.70);
}
.menu_cont {
    background-color: #4e4e48c9;
    text-align: center;
    padding: 35px;
    color: white;
    border: 1px solid none;
    top: 30px;
    width: 400px;
    margin: auto;
    position: relative;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.user_input_login{
    position: absolute;
    text-align: center;
    border: 1px solid none;
    top: 250px;
    left: 50px;
    margin-left: 0px;
}
.user_input_signup{
    position: absolute;
    text-align: center;
    border: 1px solid none;
    top: 250px;
    left: 50px;
    margin-left: 0px;
}
.button_animated {
    border-radius: 4px;
    background-color: #4b2e25;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 13px;
    padding: 2px;
    width: 100px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
} 
.button_animated span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button_animated span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button_animated:hover span {
    padding-right: 25px;
}
.button_animated:hover span:after {
    opacity: 1;
    right: 0;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: relative;
    background-color: #fdfdd4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: rgb(205, 219, 154);
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .button_animated {
    background-color: #554d3b;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}
li a:hover{
    color: black;
    background-color: #fdfdd4a4;
}
.dropdowns:hover .dropbtn{
    background-color: #fdfdd4a4;
}
li.dropdowns {
    display: inline-block;
}
.dropdowns-content {
    display:none;
    position: absolute;
    right:0;
    background-color: #fdfdd4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdowns-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdowns-content a:hover {
    background-color: #a7a786c9;
}
.dropdowns:hover .dropdowns-content {
    display: block;
}
.bottom_nav{
    padding: 16px;
    margin-bottom: 30px;
}
.comp_logo{
    margin: auto;
    position: relative;
    top: 70px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #815656;
}
.payment_cont1{
    margin: auto;
    position: relative;
    top: 20px;
    text-align: center;
    color: white;
    width: 400px;
    border: 1px solid white;
    letter-spacing: 1px;
}
.payment_cont2{
    margin: auto;
    position: relative;
    padding: 12px;
    top: 50px;
    width: 330px;
    text-align: center;
    color: white;
    background-color: rgba(49, 8, 8, 0.541);
    border: 1px solid rgba(49, 8, 8, 0.541)n;
    line-height: 25px;
}
tr,td{
    padding: 8px;
    width: 30px;
    text-align: center;
}
th, td{
    padding: 8px;
    width: 300px;
    text-align: center;
}
table {
    position: relative;
    top: 70px;
    margin: 0;
    text-align:center;
    background-color: rgba(0, 0, 0, 0.575);
    border-collapse: collapse;
    border: 1px solid none;
    color: white;
    padding: 10px;
    padding-bottom: 20px;
}
table.center{
    margin-left: auto;
    margin-right: auto;
}
.large_cont{
    position:relative;
    border: 1px solid none;
    background-color:rgba(255, 255, 255, 0.884);
    top: 60px;
    margin: auto;
    text-align: center;
    width: 70%;
    height: 40%;
    padding: 8px;
    overflow: auto;
}
.contact_aboutus_container{
    text-align: center;
    color: white;
    border: 1px solid white;
    height: 170px;
    position: relative;
    float: left;
    width: 70%;
    padding: 20px;
    top: 100px;
    background: #ce8888;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
@media screen and (max-width: 992px) {
    .contact_aboutus_container {
      width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .contact_aboutus_container {
      width: 100%;
    }
}
.devrepair_container{
    text-align: center;
    border: 1px solid none;
    position: relative;
    background-color: rgba(233, 236, 228, 0.575);
    padding: 10px;
    top: 70px;
    max-width: 75%;
    max-height: 60%;
    margin: auto;
    padding-bottom: 35px;
    overflow-y: auto;
    
}
.devicerepair_container{
    text-align: center;
    color: rgb(14, 13, 13);
    border: 1px solid rgb(34, 32, 32);
    height: 250px;
    position: relative;
    float: left;
    width: 33.33%;
    padding: 20px;
    top: 12px;
    background: #fdfdd4;
}
@media screen and (max-width: 992px) {
    .devicerepair_container {
      width: 50%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .devicerepair_container {
      width: 100%;
    }
  }
  .bt_cont{
    border: 1px solid none;
    text-align: center;
    position: relative;
    margin: auto;
    width: 100px;
    top: 20px;
}

.openbutton{
    background-color: rgb(248, 240, 230);
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 10px;
}
.openbutton:hover{
    cursor: pointer;
    background-color:rgb(212, 212, 208);
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
.logged_user_welcome{
    margin: auto;
    position: relative;
    color: black;
    text-align: center;
    top: 150px;
    width: 400px;
    height: 200px;
    background-color: #fdfdd4a8;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
}
.button_cont{
    border: 1px solid none;
    margin: auto;
    position: relative;
    color: white;
    width: 272px;
    height: 30px;
    text-align: center;
}
.button_choice{
    float: left;
    background-color: rgba(0, 0, 0, 0.74);
    border:1px solid white;
    color: white;
    width: 90px;
    height: 20px;
    font-size: 12px;
}
.button_choice:hover{
    background-color: #fdfdd4;
    cursor: pointer;
    color: black;
}

